@tailwind base;
@tailwind components;
@tailwind utilities;

.root,
#root {
  --primary: #D20606;
  --secondary: #BCB2B2;
  --contrast: #e78a51;
  --accent: #D1CDB2;
}

.required{
  @apply text-red-500 text-xs italic;
}